/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
    color: white;
}

h1 {
  
  font-family: verdana, arial, sans-serif; 
}

button {
  
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#Button1 {
    background: lightgreen;
}

#Button2 {
    background: lightblue;
}

#Button3 {
    background: pink;
}

#Button4 {
    background: lightyellow;
}

#Button1:active {
    background:green;
}

#Button2:active {
    background:blue;
}

#Button3:active {
    background:red;
}

#Button4:active {
    background:yellow;
}